:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.game-container {
  margin-top: 50px;
}

.output {
  font-size: 24px;
  margin-bottom: 20px;
}
