:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: aqua;
}
h1 {
  color: #333;
}

#word {
  font-size: 2em;
  margin: 20px 0;
}

#letterInput {
  padding: 5px;
  margin-right: 5px;
}

#guessButton {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
}

#guessButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#attempts {
  margin-top: 20px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  color: #e74c3c;
}
